[user]
  name = lomarco
  email = 119614090+lomarco@users.noreply.github.com
  signingkey = 119614090+lomarco@users.noreply.github.com
[init]
  defaultBranch = master
[core]
  editor = vim
[commit]
  gpgsign = true
[gpg]
  program = gpg
