[user]
  name = lomarco
  email = 119614090+lomarco@users.noreply.github.com
  signingkey = 119614090+lomarco@users.noreply.github.com
[init]
  defaultBranch = master
[core]
  editor = vim
[commit]
  gpgsign = true
[gpg]
  program = gpg
[push]
  autoSetupRemote = true
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
